<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="orange">
    <h1 align="center" style="color:white;">E - Ticket Status</h1>
    <h2>Name : {{var}}</h2>
    <h2>Email id : {{var1}}</h2>
    <h2>Aadhar Number : {{var2}}</h2>
    <h2>Travelling From State : {{var3}} , District : {{var4}}</h2>
    <h2>Travelling To State : {{var5}} ,District : {{var6}}</h2>
    <h2>Phone Number : {{var7}}</h2>
    <h2>Date of travel : {{var8}}</h2>
    <h2>Status : <u>{{var9}}</u></h2>

</body>
</html>